.offcanvas {
    display: block;
    .transition(padding 0.3s,left 0.3s,right 0.3s);
    left: -@sidebar-width;
    &.in{
        left: 0;
    }
}

.offcanvas-mobile,
.offcanvas-tablet,
.offcanvas-dekstop {
    .offcanvas;
}

// animation class
.canvas-in,
.canvas-out{
    .transition(padding 0.3s,left 0.3s,right 0.3s);

    .navbar-fixed-top,
    .navbar-fixed-bottom{
        .transition(margin 0.3s,left 0.3s,right 0.3s);
        @media @mobile-and-tablet{
            width: 100%;
        }
    }
}
.canvas-out,
.canvas-in-add{
    @media @mobile-and-tablet{
        position: fixed;
        overflow: hidden;
    }
}
.canvas-in-add.canvas-in-add-active,
.canvas-out-add{
    @media @desktop {
        padding-left: 0;
    }

    @media @mobile-and-tablet{
        left: 0;
        position: fixed;
        overflow: hidden;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom{
        @media @desktop {
            margin-left: 0;
        }

        @media @mobile-and-tablet{
            left: 0;
        }
    }
}

.canvas-out,
.canvas-out.canvas-out-add-active,
.canvas-in-add{
    @media @desktop {
        padding-left: @sidebar-width;
    }

    @media @mobile-and-tablet{
        left: @sidebar-width;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom{
        @media @desktop {
            margin-left: @sidebar-width;
        }

        @media @mobile-and-tablet{
            left: @sidebar-width;
        }
    }
}
